@use 'src/styles/abstract/mixin';
@use 'src/styles/abstract/variables';
@use 'src/styles/abstract/functions';

.header {
  @include mixin.flex-container(flex, space-between, center, row);
  width: 100%;
  height: functions.px-to-rem(68);
  padding: 0 functions.px-to-rem(16);
  position: relative;

  &__logo {
    width: functions.px-to-rem(35);
    height: functions.px-to-rem(35);
  }

  &__profile {
    width: functions.px-to-rem(40);
    height: functions.px-to-rem(40);
  }
}

.user-information {
  @include mixin.flex-container(flex, center, flex-start, column);
  @include mixin.shadow(
    (0 functions.px-to-rem(1) functions.px-to-rem(5) 0 variables.$border-secondary),
    (0 functions.px-to-rem(2) functions.px-to-rem(2) 0 variables.$shadow-primary),
    (0 functions.px-to-rem(3) functions.px-to-rem(1) functions.px-to-rem(-2) variables.$shadow-secondary)
  );
  gap: functions.px-to-rem(8);
  border: functions.px-to-rem(1) solid variables.$border-secondary;
  padding: functions.px-to-rem(8);
  border-radius: functions.px-to-rem(4);
  z-index: 1;
  background-color: variables.$white;
}
