@use 'sass:map';
@use 'src/styles/abstract/mixin';
@use 'src/styles/abstract/functions';
@use 'src/styles/abstract/variables';

.form-restaurant {
  @include mixin.flex-container(flex, flex-start, flex-start, column);
  padding: functions.px-to-rem(16);
  gap: functions.px-to-rem(20);

  &__header-container {
    @include mixin.flex-container(flex, center, flex-start, column);
    gap: functions.px-to-rem(15);
  }

  &__header {
    @include mixin.flex-container(flex, center, flex-start, column);
    gap: functions.px-to-rem(8);
  }

  &__back-btn {
    width: functions.px-to-rem(100);
  }

  .form-card {
    @include mixin.flex-container($display: flex, $direction: column);
    width: 100%;
    padding: functions.px-to-rem(16);
    border-radius: map.get(variables.$border-radius, 'lg');
    gap: functions.px-to-rem(14);
  }

  &__button-container {
    @include mixin.flex-container(flex, center, center, row);
    width: 100%;
  }

  &__buttons {
    @include mixin.flex-container(flex, center, center, column);
    gap: functions.px-to-rem(10);
  }

  &__cancel-btn {
    order: 2;
  }

  @include mixin.respond('tablet') {
    &__button-container {
      @include mixin.flex-container(flex, flex-end, center, row);
    }

    &__buttons {
      @include mixin.flex-container(flex, center, center, row);
    }

    &__save-btn {
      order: 2;
    }
  }

  @include mixin.respond('small-desktop') {
    .form-card {
      @include mixin.shadow(
        (0 functions.px-to-rem(1) functions.px-to-rem(10) 0 variables.$border-secondary),
        (0 functions.px-to-rem(4) functions.px-to-rem(5) 0 variables.$shadow-primary),
        (0 functions.px-to-rem(2) functions.px-to-rem(4) functions.px-to-rem(-1) variables.$shadow-secondary)
      );
    }
  }
}
