// Contains reusable mixins for media queries, flexbox
@use './variables';
@use './functions';

$breakpoints: (
  'tablet': variables.$tablet,
  'small-desktop': variables.$small-desktop,
  'desktop': variables.$desktop,
);

@mixin respond($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn 'No breakpoint of this size exists';
  }
}

@mixin flex-container($display: flex, $justify: center, $align: center, $direction: row) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin shadow(
  $x1: 0,
  $y1: 0,
  $blur1: 0,
  $spread1: 0,
  $color1,
  $x2: 0,
  $y2: 0,
  $blur2: 0,
  $spread2: 0,
  $color2,
  $x3: 0,
  $y3: 0,
  $blur3: 0,
  $spread3: 0,
  $color3
) {
  box-shadow:
    functions.px-to-rem($x1) functions.px-to-rem($y1) functions.px-to-rem($blur1) functions.px-to-rem($spread1) $color1,
    functions.px-to-rem($x2) functions.px-to-rem($y2) functions.px-to-rem($blur2) functions.px-to-rem($spread2) $color2,
    functions.px-to-rem($x3) functions.px-to-rem($y1) functions.px-to-rem($blur3) functions.px-to-rem($spread3) $color3;
}
