// Contains reusable mixins for media queries, flexbox
@use './variables';
@use './functions';

$breakpoints: (
  'tablet': variables.$tablet,
  'small-desktop': variables.$small-desktop,
  'desktop': variables.$desktop,
);

@mixin respond($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn 'No breakpoint of this size exists';
  }
}

@mixin flex-container($display: flex, $justify: flex-start, $align: stretch, $direction: row) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin shadow($shadows...) {
  box-shadow: $shadows;
}
