// this contains the naming convention of fonts, colors, breakpoints used in website

// breakpoints
$max-screen-width: 1600px;
$tablet: 321px;
$small-desktop: 769px;
$desktop: 1025px;

// fonts family
$global-font: 'Inter', sans-serif;

// colors
$bg-global: #ffffff;
$primary-text: #000000de;
$secondary-text: #00000099;
$tertiary-text: #d97706;
$pointer-text: #e02424;
$bg-primary: #0e9f6e;
$bg-secondary: #fef3c7;
$bg-tertiary: #fde8e8;
$border-primary: #0e9f6e80;
