<div class="restaurant-list">
  <div class="restaurant-list__header">
    <div class="restaurant-list__heading">
      <h1 class="heading">Restaurants</h1>
      <p class="text-primary">Manage partner restaurants and ownership list.</p>
    </div>
    <app-button
      class="restaurant-list__add-btn"
      label="ADD RESTAURANT"
      variant="filled"
      icon="icon-add"
      type="button"
      (buttonClick)="onAddClick()"></app-button>
  </div>
  <div class="restaurant-list__table">
    <table mat-table [dataSource]="(restaurantData$ | async) || []">
      <ng-container matColumnDef="restaurantName">
        <th mat-header-cell *matHeaderCellDef class="restaurant-list__table-header header">RESTAURANT NAME</th>
        <td mat-cell *matCellDef="let element" class="names-text">{{ element.restaurantName }}</td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef class="restaurant-list__table-header header">ADDRESS</th>
        <td mat-cell *matCellDef="let element">{{ element.address }}</td>
      </ng-container>

      <ng-container matColumnDef="owners">
        <th mat-header-cell *matHeaderCellDef class="restaurant-list__table-header header">OWNERS</th>
        <td mat-cell *matCellDef="let element" class="restaurant-list__chips">
          <mat-chip-set aria-label="Owners email list">
            <mat-chip *ngFor="let mail of element.owners"> {{ mail }} </mat-chip>
          </mat-chip-set>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="restaurant-list__table-header header">ACTIONS</th>
        <td mat-cell *matCellDef="let element">
          <app-button
            label="Edit"
            variant="outlined"
            icon="icon-edit"
            size="sm"
            type="submit"
            (buttonClick)="onEditClick(element.id)"></app-button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
