@use 'sass:map';
@use 'src/styles/abstract/variables';
@use 'src/styles/abstract/functions';
@use 'src/styles/abstract/mixin';

.dashboard {
  @include mixin.flex-container($display: flex, $direction: column);
  width: 100%;
  height: 100%;
  padding: functions.px-to-rem(16);
  gap: functions.px-to-rem(20);

  &__header {
    @include mixin.flex-container(flex, space-between, flex-start, column);
    gap: functions.px-to-rem(20);
  }

  &__heading {
    @include mixin.flex-container(flex, space-between, flex-start, column);
    gap: functions.px-to-rem(5);
  }

  &__top-details {
    @include mixin.grid-container(grid);
    gap: functions.px-to-rem(10);
  }

  @include mixin.respond('small-desktop') {
    &__header {
      @include mixin.flex-container(flex, space-between, flex-start, row);
    }
  }

  @include mixin.respond('desktop') {
    &__top-details {
      grid-template-columns: 1fr 2fr;
      gap: functions.px-to-rem(15);
    }
  }
}
