@use 'sass:map';
@use 'src/styles/abstract/variables';
@use 'src/styles/abstract/functions';
@use 'src/styles/abstract/mixin';

.report-card {
  @include mixin.flex-container(flex, space-between, center, column);
  width: 100%;
  align-items: flex-start;
  border: 1px solid variables.$border-secondary;
  border-radius: map.get(variables.$border-radius, 'md-3');
  padding: functions.px-to-rem(10);
  box-sizing: border-box;

  &__info {
    @include mixin.flex-container(flex, center, flex-start, column);
    align-items: flex-start;
  }

  &__description {
    color: variables.$secondary-text;
  }

  &__dropdown {
    margin-top: functions.px-to-rem(8);
    display: block;
  }

  &__buttons {
    display: none;
  }

  @include mixin.respond('small-desktop') {
    @include mixin.flex-container(flex, space-between, center, row);
    gap: functions.px-to-rem(5);
    &__info {
      max-width: functions.px-to-rem(390);
    }
  }

  @include mixin.respond('desktop') {
    &__dropdown {
      display: none;
    }

    &__buttons {
      @include mixin.flex-container(flex, space-between, row);
      gap: functions.px-to-rem(10);
    }
  }
}
