@use 'sass:map';
@use 'src/styles/abstract/mixin.scss';
@use 'src/styles/abstract/variables.scss';
@use 'src/styles/abstract/functions.scss';

.order-card {
  @include mixin.flex-container(flex, center, flex-start, column);
  @include mixin.shadow(
    0,
    1,
    10,
    0,
    variables.$border-secondary,
    0,
    4,
    5,
    0,
    variables.$shadow-primary,
    0,
    2,
    4,
    -1,
    variables.$shadow-secondary
  );
  width: 100%;
  padding: functions.px-to-rem(16);
  border-radius: map.get(variables.$border-radius, 'md-1');
  box-sizing: border-box;

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: functions.px-to-rem(12);
  }

  &__heading {
    font-weight: map.get(variables.$font-weight, 'regular');
    font-size: functions.px-to-rem(20);
    line-height: functions.px-to-rem(30);
    margin: 0;
  }

  &__description {
    font-weight: map.get(variables.$font-weight, 'light');
    font-size: functions.px-to-rem(14);
    line-height: functions.px-to-rem(20);
    color: variables.$secondary-text;
    margin: functions.px-to-rem(4) 0 0 0;
  }

  &__records {
    width: 100%;
    padding-top: functions.px-to-rem(8);
    overflow-x: auto;
    overflow-y: hidden;
  }

  &__table {
    width: 100%;
    min-width: functions.px-to-rem(800);
  }

  &__table-header {
    color: variables.$secondary-text;
    font-size: functions.px-to-rem(13);
    line-height: functions.px-to-rem(18);
    font-weight: map.get(variables.$font-weight, 'bold');
  }

  &__text-cell {
    font-weight: map.get(variables.$font-weight, 'regular');
    font-size: functions.px-to-rem(13);
    line-height: functions.px-to-rem(18);
  }

  &__status {
    background-color: variables.$bg-secondary;
    color: variables.$tertiary-text;
    font-weight: map.get(variables.$font-weight, 'bold');
    font-size: functions.px-to-rem(13);
    line-height: functions.px-to-rem(18);
    padding: functions.px-to-rem(4) functions.px-to-rem(8);
    border-radius: map.get(variables.$border-radius, 'lg');
    display: inline-block;
  }

  &__buttons {
    @include mixin.flex-container(flex, center, center);
    gap: functions.px-to-rem(5);
  }

  @include mixin.respond('small-desktop') {
    padding: functions.px-to-rem(16);
    border-radius: map.get(variables.$border-radius, 'md-2');
  }
}

::ng-deep {
  .mat-header-cell,
  .mat-cell {
    padding: 0 functions.px-to-rem(8);
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
}
