@use 'sass:map';
@use 'src/styles/abstract/mixin';
@use 'src/styles/abstract/variables';
@use 'src/styles/abstract/functions';

.order-card {
  @include mixin.flex-container(flex, center, flex-start, column);
  @include mixin.shadow(
    (functions.px-to-rem(0) functions.px-to-rem(1) functions.px-to-rem(10) 0 variables.$border-secondary),
    (0 functions.px-to-rem(4) functions.px-to-rem(5) 0 variables.$shadow-primary),
    (0 functions.px-to-rem(2) functions.px-to-rem(4) functions.px-to-rem(-1) variables.$shadow-secondary)
  );
  width: 100%;
  padding: functions.px-to-rem(16);
  border-radius: map.get(variables.$border-radius, 'md-1');
  box-sizing: border-box;

  &__header {
    @include mixin.flex-container($display: flex, $direction: column);
    margin-bottom: functions.px-to-rem(12);
  }

  &__heading {
    margin: 0;
  }

  &__description {
    margin: functions.px-to-rem(4) 0 0 0;
  }

  &__records {
    width: 100%;
    padding-top: functions.px-to-rem(8);
    overflow-x: auto;
    overflow-y: hidden;
  }

  &__table {
    width: 100%;
    min-width: functions.px-to-rem(1100);
  }

  &__table-header {
    color: variables.$secondary-text;
  }

  &__status {
    background-color: variables.$bg-secondary;
    color: variables.$tertiary-text;
    padding: 0 functions.px-to-rem(8);
    border-radius: functions.px-to-rem(16);
  }

  &__buttons {
    @include mixin.flex-container(flex, center, center);
    gap: functions.px-to-rem(5);
  }

  @include mixin.respond('small-desktop') {
    padding: functions.px-to-rem(12);
    border-radius: map.get(variables.$border-radius, 'md-2');
  }
}

:host ::ng-deep {
  .mat-row {
    width: 100%;
  }
  .mat-header-cell,
  .mat-cell {
    @include mixin.flex-container($display: flex, $align: center);
    padding: 0 functions.px-to-rem(8);
    box-sizing: border-box;
  }

  .mat-column-actions {
    min-width: functions.px-to-rem(200);
    white-space: nowrap;
  }
}
