@use 'sass:map';
@use 'src/styles/abstract/variables';
@use 'src/styles/abstract/functions';
@use 'src/styles/abstract/mixin';

.stat-card-container {
  @include mixin.flex-container(flex, space-between, center);
  width: 100%;
  gap: functions.px-to-rem(10);
  box-sizing: border-box;
  overflow-x: auto;
}

.stat-card {
  @include mixin.flex-container(flex, space-between, center);
  padding: functions.px-to-rem(10);
  width: 100%;
  min-width: functions.px-to-rem(200);
  height: functions.px-to-rem(60);
  border: functions.px-to-rem(1) solid variables.$border-secondary;
  border-radius: map.get(variables.$border-radius, 'md-3');

  &__info {
    @include mixin.flex-container(flex, center, center, column);
    align-items: flex-start;
  }

  &__heading {
    color: variables.$secondary-text;
  }

  @include mixin.respond('tablet') {
    height: functions.px-to-rem(68);
  }
}
