@use 'sass:map';
@use 'src/styles/abstract/variables';
@use 'src/styles/abstract/functions';
@use 'src/styles/abstract/mixin';

.stat-card {
  @include mixin.flex-container(flex, space-between, center);
  width: 100%;
  height: functions.px-to-rem(60);
  border: 1px solid variables.$border-secondary;
  border-radius: map.get(variables.$border-radius, 'md-3');
  padding: functions.px-to-rem(10);
  box-sizing: border-box;

  &__info {
    @include mixin.flex-container(flex, center, center, column);
    align-items: flex-start;
  }

  &__heading {
    color: variables.$secondary-text;
  }

  @include mixin.respond('tablet') {
    height: functions.px-to-rem(72);
  }
}
