// Reset default browser styles
@use 'sass:map';
@use 'src/styles/abstract/functions';
@use 'src/styles/abstract/variables';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

button,
input,
select {
  font: inherit;
}

button {
  border: 0;
  background: none;
}

img,
picture {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: variables.$primary-text;
  font-size: functions.px-to-rem(24);
}

p {
  font-size: functions.px-to-rem(14);
  font-weight: map.get(variables.$font-weight, 'light');
  line-height: functions.px-to-rem(20);
  color: variables.$secondary-text;
}

h1 {
  font-size: functions.px-to-rem(48);
  font-weight: map.get(variables.$font-weight, 'bold');
  line-height: functions.px-to-rem(62);
}

h2 {
  font-size: functions.px-to-rem(35);
  font-weight: map.get(variables.$font-weight, 'bold');
  line-height: functions.px-to-rem(40);
}

h3 {
  font-size: functions.px-to-rem(20);
  font-weight: map.get(variables.$font-weight, 'bold');
  line-height: functions.px-to-rem(30);
}

h4 {
  font-size: functions.px-to-rem(18);
  font-weight: map.get(variables.$font-weight, 'bold');
  line-height: functions.px-to-rem(20);
}

h5 {
  font-size: functions.px-to-rem(14);
  font-weight: map.get(variables.$font-weight, 'bold');
  line-height: functions.px-to-rem(21);
}

h6 {
  font-size: functions.px-to-rem(12);
  font-weight: map.get(variables.$font-weight, 'bold');
  line-height: functions.px-to-rem(18);
}
